/* Small */
.small .react-colorful{
    width: 120px;
    height: 120px;
}

.colorPickerWrapperC {
    position: fixed;
    z-index: 1;
    left: 2vh;
    bottom: 2vh;
}

.logoContainerC {
    height: 13vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.logoC {
    background-image: url('../Images/Logo1.PNG');
    background-size: contain;
    height: 100%;
    aspect-ratio: 2.91;
    max-width: 50vw;
    background-repeat: no-repeat;
}

.mask2c {
    height: 100%;
    width: 100%;
    background-color: #0000005e;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginBoxC {
    background-color: white;
    padding: 7%;
}

.loginButtonC {
    position: fixed;
    top: 1vh;
    right: 1vh;
    max-width: 50%;
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.loginButtonItem {
    margin: 1vh !important;
}

.toolbar{
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    left: 3vh;
    top: 3vh;
    align-items: center;
}

.tool {
    margin-bottom: 15% !important;
    box-shadow: none !important;
}

.profile {
    box-shadow: none !important;
    margin: 1vh !important;
}