.toolbar{
    display: flex;
    flex-direction: column;
    align-items: stretch;

}

.toolbarPencilSVG{
    height: 24px;
    width: 24px;

}



.toolbarPencil{
    background-image: url('../Images/toolbarIcons/create-24px.svg');
    height: 2vh;
    width: 2vh;
}
