

.toolbarPencilSVG{
    height: 24px;
    width: 24px;

}



.toolbarPencil{
    background-image: url('../Images/toolbarIcons/create-24px.svg');
    position: fixed;

    height: 2vh;
    width: 2vh;
}
