.toolbar{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: fixed;
    z-index: 1;
    left:10vh;
    top: 40vh;


}

.toolbarPencilSVG{
    height: 24px;
    width: 24px;

}



.toolbarPencil{
    background-image: url('../Images/toolbarIcons/create-24px.svg');
    position: fixed;

    height: 2vh;
    width: 2vh;
}
