.headerBar {
    height: 13vh;
    background: white;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding-right: 2%;
}

.imageContainer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.mask2 {
    height: 100%;
    width: 100%;
    background-color: #0000005e;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginBox {
    background-color: white;
    padding: 7%;
}

.logo {
    background-image: url('../Images/Logo1.PNG');
    background-size: contain;
    height: 100%;
    aspect-ratio: 2.91;
    background-repeat: no-repeat;
}